nav{
    width: 100% ;
    box-sizing: border-box;
    background-color: #243642;
    position:fixed;
    z-index: 1;
    display: flex;
    justify-content: end;
    padding: 10px 60px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 16px;
}

nav>ul>li>a{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 0 20px;
    text-decoration: none;
    color: white;
    border-bottom: solid 1px transparent;
}

nav ul li a div i{
    font-size: 1em;
}

nav ul li a:hover{
    box-sizing: border-box;
    transition: 0.3s;
    border-bottom: solid 1px #0099ff;
}

header{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fG1vcm5pbmd8ZW58MHx8fHwxNjg3NTY5NzA0&ixlib=rb-4.0.3&q=80&w=1080");
}